@font-face {
	font-family: 'Lora';
	src: url("/css/fonts/lora/lora-v15-latin-regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Lora';
	src: url("/css/fonts/lora/lora-v15-latin-500.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Lora';
	src: url("/css/fonts/lora/lora-v15-latin-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Fira Sans';
	src: url("/css/fonts/fira-sans/fira-sans-v10-latin-regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Fira Sans';
	src: url("/css/fonts/fira-sans/fira-sans-v10-latin-italic.woff2") format("woff2");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Fira Sans';
	src: url("/css/fonts/fira-sans/fira-sans-v10-latin-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Fira Sans';
	src: url("/css/fonts/fira-sans/fira-sans-v10-latin-700italic.woff2") format("woff2");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: .67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: .35em .75em .625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

html {
	background: #f0e9e9;
	color: #02040F;
	scroll-behavior: smooth;
	font: normal normal normal calc(14px + (26 - 14) * ((100vw - 320px) / (6000 - 320)))/1.5 "Fira Sans", "Helvetica", Verdana, sans-serif;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	max-width: 100vw;
}

#app {
	width: 100%;
	display: grid;
	place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
	margin-top: 15px;
	margin-bottom: 15px;
}

#logo {
	justify-self: start;
}

#logo img {
	max-width: 44px;
}

img {
	width: 100%;
	max-width: 100%;
	display: block;
}

img[height] {
	height: auto;
}

hr {
	border-color: #9FA1A5;
	width: 95%;
	margin: .15em auto;
}

.header {
	width: 100%;
	border-bottom: 2px solid #02040F;
	background: #f0e9e9;
	position: sticky;
	top: 0;
}

.header ul {
	list-style: none;
}

.nav__main {
	padding-top: .5em;
	padding-bottom: .5em;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	place-items: center;
	width: 95%;
	margin: auto;
}

.nav__main ul {
	padding: 0;
	margin: 0;
}

.nav__primary {
	width: 50%;
	max-width: 400px;
	min-width: 200px;
}

.nav__primary ul {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	width: 100%;
}

.nav__secondary {
	justify-self: end;
}

.theGoodStuff {
	padding: .5vw;
}

.user__comment-form {
	display: flex;
	flex-direction: column;
}

.user__comment-form button[type="submit"] {
	width: max-content;
}

.user__comment-form #comment,
.user__comment-form #name {
	margin: .5em 0;
}

.user__comment-form #comment {
	resize: none;
}

.user__comment {
	border-radius: 1.5em;
	background: #E8E8EF;
	padding: .5em 1em;
}

.timestamp {
	font-size: 85%;
}

.gallery {
	display: grid;
	place-items: start;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 1em;
	padding: 5px;
}

.poster {
	margin-top: .5em;
	margin-bottom: .5em;
}

.poster__text {
	margin-top: 0;
	margin-bottom: 0;
}

.non-button {
	border: none;
	padding: 0;
	background: transparent;
	color: #02040F;
}

.non-button:hover {
	color: #e59500;
}

.feed__container {
	display: grid;
	gap: 2em;
}

.feed__item {
	padding: .5em .5em 1.5em;
	background: #BEC0C3;
	border-radius: 1em;
	display: grid;
	gap: 1em;
	max-width: 600px;
}

.feed__article {
	background: rgba(222, 224, 225, 0.5);
	box-shadow: 0 0 5px 5px #9fa1a5;
	border-radius: .5em;
	padding: .5em;
}

.feed__article h2 {
	margin-bottom: 0;
}

.feed__article p {
	margin-top: .5em;
	margin-bottom: .5em;
}

.feed__article-image {
	margin: auto;
}

.user__actions {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1em;
}

.user__actions button {
	font-size: 82%;
	font-family: "Fira Sans", sans-serif;
	padding: .75em 1em;
	border-radius: .5em;
	background: #7D002D;
	color: #f0e9e9;
}

.error {
	color: #7D002D;
}

.share {
	display: grid;
	place-items: center;
}

.share p {
	margin: 0;
}

.share a {
	text-decoration: none;
	color: #02040F;
}

.share a:hover {
	color: #006088;
}

.counter__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.counter {
	color: #02040F;
	background: #f0e9e9;
	padding: 2px 4px;
	border-radius: 50%;
	font-size: 80%;
	font-family: "Lora", serif;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
	display: grid;
	place-items: center;
}

.popup {
	padding: 2em 1em;
	border-radius: 1em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
}

.popup button {
	background: transparent;
	border: none;
}

.popup button > svg {
	stroke-width: 3;
	stroke: #f0e9e9;
}

.highscore {
	background: #7D002D;
	color: #f0e9e9;
}

.lowscore {
	background: #006088;
	color: #f0e9e9;
}

.messages {
	background: #3D348B;
	color: #f0e9e9;
}

.games {
	background: #e59500;
	color: #02040F;
}

.account {
	background: #7D002D;
	color: #f0e9e9;
}

.account__options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.account__options .non-button {
	color: #f0e9e9;
}

.account__options .non-button:hover {
	color: #e59500;
}

.account__options h2 {
	margin: 0;
	font-size: inherit;
}

.account__options ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.closed {
	background: #02040F;
	color: #f0e9e9;
}

.account__closed {
	padding: 1em;
}

.openAccount {
	border: none;
	background: #f0e9e9;
	padding: 1em;
	font-weight: bold;
	font-family: "Lora", serif;
	color: #02040F;
}

.openAccount:hover {
	background: #3D348B;
	color: #f0e9e9;
}

.friends,
.info {
	border: 2px solid #02040F;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	border-radius: 1em;
}

.info {
	background: #dee0e1;
}

.friends {
	background: rgba(229, 149, 0, 0.5);
}

.bounce-enter-active {
	animation: bounce-in .5s;
}

.bounce-leave-active {
	animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

/* .slide-fade-leave-active below version 2.1.8 */
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

@media (min-width: 768px) {
	.theGoodStuff__main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 1em;
		place-items: baseline;
	}
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.friends {
		margin-top: 0;
	}
}

@media (min-width: 1100px) {
	.theGoodStuff {
		display: flex;
		flex-direction: row-reverse;
		align-items: baseline;
		justify-content: space-evenly;
		width: 99%;
		padding: 0;
	}
	.info {
		max-width: 350px;
		margin-right: 1.5em;
	}
	.gallery {
		display: grid;
		place-items: start;
		grid-template-columns: 75%;
		grid-template-rows: auto;
		gap: 1em;
	}
}
