$star-command-blue: rgba(34, 116, 165, 1);
$eggshell: rgba(231, 223, 198, 1);
$alice-blue: rgba(233, 241, 247, 1);
$rich-black-fogra-29: rgba(19, 27, 35, 1);
$french-bistre: rgba(129, 108, 97, 1);
$lora: "Lora", serif;
$fira: "Fira Sans", Helvetica, Arial, sans-serif;