@import "_globals";
@import "_fonts";
@import "normalize";

html {
	background: $light;
	color: $black;
	scroll-behavior: smooth;
	font: normal normal normal calc(14px + (26 - 14) * ((100vw - 320px) / (6000 - 320)))/1.5 "Fira Sans", "Helvetica", Verdana, sans-serif;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
	margin: {
		top: 15px;
		bottom: 15px;
	}
}

img {
	width: 100%;
	max-width: 100%;
	display: block;

	&[height] {
		height: auto;
	}
}

hr {
	border-color: $gray;
	width: 95%;
	margin: .15em auto;
}

.poster {
	margin: {
		top: .5em;
		bottom: .5em;
	}
}

.poster__text {
	margin: {
		top: 0;
		bottom: 0;
	}
}

.non-button {
	border: none;
	padding: 0;
	background: transparent;
	color: $black;

	&:hover {
		color: $gold;
	}
}